body {
    width: 100vw;
    height: 100vw;
    overflow-x: hidden;
    background-color: #212529;
}

h1 {
    color: #fff;
}

#main-login {
    width: 100%;
    height: 100%;
}

.scene {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.scene > i {
    position: absolute;
    top: -250px;
    background-color: #fff;
    animation: stars-animation linear infinite;
}

.scene p {
    color: #fff;
}

.btn {
    width: 100px;
}

@keyframes stars-animation {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(200vh);
    }
}

.rocket {
    position: relative;
    animation: animate 0.2s ease infinite;
}

@keyframes animate {
    0%, 100% {
        transform: translateY(-2px);
    }
    50% {
        transform: translateY(2px);
    }
}

.rocket::before,
.rocket::after {
    content: "";
    position: absolute;
    bottom: -200px;
    left: 50%;
    transform: translateX(-50%);
    width: 10px;
    height: 200px;
    background: linear-gradient(#00d0ff, transparent);
}

.rocket::after {
    filter: blur(20px);
}

.rocket > img {
    width: 128px;
    height: 128px;
}